<div data-controller="toast">
  <% if flash[:notice] %>
    <div id="flash-notice" data-toast-target="notice" class="z-50 fixed bottom-20 left-1/2 transform -translate-x-1/2 bg-white text-black text-md text-center px-2 py-2 border-4 border-gray-300 rounded-md transition-opacity duration-1000 ease-in-out opacity-0 w-80">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:alert] %>
    <div id="flash-notice" data-toast-target="notice" class="z-50 fixed bottom-20 left-1/2 transform -translate-x-1/2 bg-white text-black text-md text-center px-4 py-2 border-4 border-gray-300 rounded-md transition-opacity duration-1000 ease-in-out opacity-0 w-80">
      <%= flash[:alert] %>
    </div>
  <% end %>
</div>
