@import "font-awesome";

.hops-header {
  background: linear-gradient(in hsl, #81a94d, #d4edbf);
}

.malts-header {
  background: linear-gradient(in hsl, #e3ba42, #bb6621);
}

.yeasts-header {
  background: linear-gradient(in hsl, #fdf3de, #ffdd92);
}
