@import "font-awesome";

body {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
}

.home-header {
  background: linear-gradient(in hsl, #f2f2f2, #d4d4d4);
  background: -webkit-linear-gradient(in hsl, #b7d2e8, #7fbaeb);
}

.inventory-header {
  background: linear-gradient(in hsl, #f2f2f2, #d4d4d4);
  background: -webkit-linear-gradient(in hsl, #f2f2f2, #d4d4d4);
}

.calculator-header {
  background: linear-gradient(in hsl, #c9eaf1, #a9d1d8);
  background: -webkit-linear-gradient(in hsl, #dfecef, #a9d1d8);
}

.hops-header {
  background: linear-gradient(in hsl, #eeffe0, #d4edbf);
  background: -webkit-linear-gradient(in hsl, #eeffe0, #d4edbf);
}

.malts-header {
  background: linear-gradient(in hsl, #faeece, #fdb97d);
  background: -webkit-linear-gradient(in hsl, #faeece, #fdb97d)
}

.yeasts-header {
  background: linear-gradient(in hsl, #f5e7c0, #f5e0a3);
  background: -webkit-linear-gradient(in hsl, #f5e7c0, #f5e0a3);
}

.items {
  margin-top: 74px;
}

.item-icon {
  width: 42px;
  height: auto;
  object-fit: contain;
  margin-top: 13px;
}

.item-card-active {
  box-shadow: inset 0 0 10px rgba(144, 144, 144, 0.5);
  border-radius: 0.5rem;
  transform: scale(1.05);
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
}

.shadow-top {
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1), 0px 0px 30px 30px rgba(255, 255, 255, 1);
  transition: opacity 0.5 ease;
}

.trash {
  color: #c28282;
}

.save-gray {
  color: #a2a2a2;
  border: 2px solid #c4c4c4;
  border-radius: 4px;
  padding: 5px;
}

.plus-quantity-button {
  background-color: #9cb67a;
}

.minus-quantity-button {
  background-color: #c28282;
}

.sort-list {
  list-style: none;
  padding-left: 0;
}

.hidden {
  display: none;
}

.opacity-0 {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.opacity-100 {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fade-in-container {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.fade-out-container {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.suggestionsTarget.fade-out-container {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transform: translateY(-50px);
}

.suggestion-item {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.suggestion-item.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.suggestion-item.fade-out {
  opacity: 0;
  transform: translateY(-50px);
}
