@import "font-awesome";

.hops-header {
  background: linear-gradient(in hsl, #9cb67a, #d4edbf);
}

.malts-header {
  background: linear-gradient(in hsl, #bc8f6a, #f5e0a3);
}

.yeasts-header {
  background: linear-gradient(in hsl, #f9f4ea, #ffe5ad);
}

.items {
  margin-top: 74px;
}

.item-icon {
  width: 42px;
  height: auto;
  object-fit: contain;
  margin-top: 13px;
}

.form-select {
  background-color: red;
  color: #9cb67a;
}

.shadow-top {
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1), 0px 0px 30px 30px rgba(255, 255, 255, 1);
  transition: opacity 0.5 ease;
}
