<p>Name: <%= link_to item.name, category_item_path(@category, item) %></p>
<p>Alpha acid: <%= number_with_precision(item.alpha, precision: (item.alpha % 1 == 0 ? 0 : 1))%>%</p>
<p>Type: <%= item.item_type %></p>
<p>Origin: <%= item.origin %></p>
