<header class="bg-gray-100 p-6 flex items-center justify-center">
  <h1 class="text-3xl font-bold">Inventory</h1>
</header>

<div class="flex flex-1 flex-col p-7">
  <ul class="flex flex-col gap-8">
    <% @categories.each do |category| %>
      <%= link_to category_path(category), class: 'block' do %>
        <li class="flex items-center py-16 shadow-md border-2 rounded-lg">
          <div class="icon flex justify-center flex-shrink-0 w-2/5 text-7xl">
            <% if category.name == 'Hops' %>
              <i class="fa-solid fa-leaf"></i>
            <% elsif category.name == 'Malts' %>
              <i class="fa-solid fa-wheat-awn"></i>
            <% elsif category.name == 'Yeasts' %>
              <i class="fa-solid fa-flask"></i>
            <% end %>
          </div>
          <div class="category-content flex flex-col items-center justify-center flex-grow">
            <h3 class="text-4xl"><%= category.name %></h3>
            <p class="flex-shrink-0 text-2xl"><%= category.items.count %></p>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
