<div class="header">
  <h1>Inventory</h1>
</div>
<div class="categories">
  <div class="category">
    <ul>
      <% @categories.each do |category| %>
        <li><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </ul>
  </div>
</div>
